main {
    background-color: rgb(246, 182, 143);
}

header{
    background-color: rgb(203, 187, 176);
    position: relative;
    padding: 20px ;
}

section {
    padding: 20px; /* Убедитесь, что есть отступы */
}

.lead{
    font-size: 1.25rem; /* Размер шрифта подзаголовка */
    color: #555; /* Цвет подзаголовка */
}

.pumpkin-info {
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(240, 152, 89);
}
.pumpkin-tips{
    background-color: rgb(240, 152, 89);  
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 2.5rem; /* Размер шрифта заголовка */ 
}
.lead{
    font-size: 1.25rem; /* Размер шрифта подзаголовка */
    color: #555; /* Цвет подзаголовка */

}
h2,h3 {
    font-size: larger;
    font-family: 'Lobster', cursive;
}

.module {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.module.first{
    background-color: rgb(240, 152, 89);
}
.module.second {
    background-color: rgb(240, 152, 89);
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Позволяем перенос на следующую строку */
}

.images {
    max-width: 45%; /* Ограничиваем ширину изображений */
    height: auto; /* Сохраняем пропорции */
    border-radius: 10px; 
    margin: 5px; /* Отступы между изображениями */
}

nav div {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav {
    margin-top: 15px; /* Отступ между текстом и навигацией */
}

section {
    padding: auto;
}

.container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 460px) and (max-width: 1600px) {
    .module {
        width: 100%;
    }
}
